body, html {
	width: 100%;
	height: 100%;
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
	background-position: center;
	background-image: url("header.jpg");
	background-size: cover;
	height: 100%;
}

header.startup hr {
	max-width: 65px;
	border-width: 2px;
	margin-top: 200px;
	margin-bottom: 30px;
	background-color: #F05F44;
}

.btn {
	border-radius: 300px;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn-danger {
	background-color: #F05F44;
	border-color: #F05F44;
}

.btn-danger:hover {
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 5px;
	cursor: pointer;
}