h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

div {
}

.robots {
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
}

.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg,
.cicrle {
	 background-color: #5f93e8;
}

.head {
	width: 200px;
	height: 150px;
	margin: 0 auto;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	margin-bottom: 10px;
}

.head:hover {
	width: 280px;
	-webkit-transition: 2s ease-in-out;
	-moz-transition: 2s ease-in-out;
	-o-transition: 2s ease-in-out;
	-ms-transition: 2s ease-in-out;
	transition: 2s ease-in-out;
}

.upper_body {
	display: flex;
}

.torso {
	width: 200px;
	height: 200px;
	border-radius: 0px 0px 50px 50px;
	margin: 0 10px;
}

.right_arm, .left_arm  {
	width: 30px;
	height: 100px;
	border-radius: 20px;
}

.lower_body {
	width: 200px;
	height: 200px;
	display: flex;
	margin: 0 auto;

}

.left_leg, .right_leg {
	width: 30px;
	height: 80px;
	border-radius: 0 0 10px 10px;
}

.left_leg {
	margin-left: 50px;
}

.left_leg:hover {
	transform: rotate(20deg);
}

.right_leg {
	margin-left: 40px;
}

.eyes {
	display: flex;
}

.left_eye, .right_eye {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: white;
}

.left_eye {
	position: relative;
	top: 100px;
	left: 40px;
}

.right_eye {
	position: relative;
	top: 100px;
	left: 120px;
}

.left_eye:hover {
	transition: 4s;
	width: 20px;
	height: 5px;
}

.cicrle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	animation: example 5s infinite;
}

@keyframes example {
	0%   {width: 0px; background: red;}
    25%  {width: 100px; background: blue;}
    50%  {width: 200px; background: yellow;}
    75%  {width: 300px; background: green;}
    100% {width: 400px; background: red;}
}